version: "2.1"
services:
  ###############################################################
  #    Nest
  ###############################################################
  nest:
    image: node:16-alpine
    user: node
    working_dir: /app
    command: ["npm", "run", "start:dev"]
    volumes:
      - ./application:/app
      - ./module.yaml:/module.yaml
    ports:
      - "8080:8080"

  ###############################################################
  #    Mercure.rocks runtime for SSE
  ###############################################################
  mercure:
    image: dunglas/mercure
    restart: unless-stopped
    environment:
      # Uncomment the following line to disable HTTPS
      #SERVER_NAME: ':80'
      MERCURE_PUBLISHER_JWT_KEY: '!ChangeMe!'
      MERCURE_SUBSCRIBER_JWT_KEY: '!ChangeMe!'
    # Uncomment the following line to enable the development mode
    command: /usr/bin/caddy run -config /etc/caddy/Caddyfile.dev
    ports:
      - "8081:80"
      - "10443:443"

  ###############################################################
  #    Flink jobmanager
  ###############################################################
  jobmanager:
    image: flink
    expose:
      - "6123"
    ports:
      - "8082:8081"
    command: jobmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
    volumes:
      - ./module.yaml:/module.yaml

  ###############################################################
  #    Flink taskmanager
  ###############################################################
  taskmanager:
    image: flink
    expose:
      - "6121"
      - "6122"
    depends_on:
      - jobmanager
    command: taskmanager
    links:
      - "jobmanager:jobmanager"
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
    volumes:
      - ./module.yaml:/module.yaml
